<body>
    <div style="background-color: #333; padding: 10px;">
        <a href="/" style="color: white; text-decoration: none; padding: 10px;">Home</a>
        <a href="/Register" style="color: white; text-decoration: none; padding: 10px;">Register</a>
        <a href="/Login" style="color: white; text-decoration: none; padding: 10px;">Login</a>
        <a href="/search" style="color: white; text-decoration: none; padding: 10px;">Search</a>
        
        
        <form action="/logout" method="POST" style="display: inline;">
            <button type="submit" style="background-color: #333; color: white; padding: 5px;">Logout</button>
        </form>
    </div>

    <div style="margin: 20px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li style="color: red; font-weight: bold;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>{{ book_data.title }}</h1>
        <p>Author: {{ book_data.author }}</p>
        <p>Year: {{ book_data.year }}</p>
        <p>Average Rating: {{ book_data.average_rating }}</p>
        <p>Ratings Count: {{ book_data.ratings_count }}</p>
        <p>Description: {{ book_data.description }}</p>


        <h3>Google Books Data:</h3>
        <p><strong>Average Rating:</strong> {{ google_data.average_rating }}</p>
        <p><strong>Ratings Count:</strong> {{ google_data.ratings_count }}</p>
        <p><strong>Description:</strong> {{ google_data.description }}</p>

        <h2>Reviews</h2>
        <ul>
            {% for review in reviews %}
                <li>
                    <p><strong>{{ review.username }}</strong>: {{ review.review }} - Rating: {{ review.rating }}</p>
                </li>
            {% endfor %}
        </ul>

        {% if session['user_id'] %}
    {% set user_id = session['user_id'] %}
    {% set user_review = reviews | selectattr('user_id', 'equalto', user_id) | list %}
    
    {% if user_review %}
        <p>You have already submitted a review for this book.</p>
    {% else %}
        
        <form action="{{ url_for('leave_review', book_id=book_data['isbn']) }}" method="POST">
            <label for="rating">Rating (1-5):</label>
            <select name="rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <textarea name="review" placeholder="Write a review..." required></textarea> 
            <button type="submit" style="padding: 10px;">Submit Review</button>
        </form>
    {% endif %}
{% endif %}
